:root {
    --neon-gradient: linear-gradient(45deg, #9b4dca, #00d8ff);
}

*{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body{
    padding: 60px; 
}

.btn, th{
    font-weight: 500;
    text-transform: uppercase;
}